td, th {
    font-size: large;
    border: solid;
    color: black;
}
.active_page {
    color: crimson;
}
.button_page {
    color: antiquewhite;
    border: 2px black;
    margin: 5px;
    padding: 20px;
    font-size: large;
}